/*
_______________________________
Desktop version layout - place your custom code here */

body {
  background-color: #fefefe;
  background-image: url('../images/main_background.png');
  color: #222;
  font-family: 'QuicksandBook', Arial, sans-serif;
  font-size: .8em;
  line-height: 1.8em;
  padding: 0;
}
/*fc1774*/
a, a:visited, a:hover {
  color: #fc1774;
}

a:hover {
  text-decoration: underline;
}

/*
_______________________________
Mobile version - preset code from cssgrid.net */

@media handheld, only screen and (max-width: 767px) {

  .examplecontainer {}

  body {}

  .nav_col {

  }

}

/*
_______________________________
Provide higher res assets for iPhone 4 - preset code from cssgrid.net */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

  /* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
  .download {
  background: url(../img/downarrow@2x.png) no-repeat;
  background-size: 27px 28px;
  }
  */

}

/*
_______________________________
Relovely Stuff */

.header {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header h1 {
  height: 150px;
  line-height: 400px;
}

.header img {
  margin: 0;
  padding: 0;
}

.page {
  background-image: url("../images/horizontal_rule.png");
  background-position: left top;
  background-repeat: repeat-x;
  padding-top: 20px;
}

.main_col {
  background-image: url("../images/vertical_rule.png");
  background-position: right top;
  background-repeat: repeat-y;
  margin-bottom: 20px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 20px;
}

nav {
  margin: 0 auto;
  max-width: 960px;
  position: fixed;
  width: 100%;
}

.nav_col {
  display: block;
  padding-left: 82.7%;
}

.nav_col a {
  font-family: 'CaviarDreamsRegular', Helvetica, sans-serif;
  padding: 4px;
}

.nav_col ul.navigation a:hover {
  background-color: #edf9f7;
  color: #222;
  text-decoration: none;
}

.nav_col ul.navigation, .nav_col ul.navigation li {
  font-size: 1em;
  line-height: 1.4em;
  list-style: none;
  margin-left: 0;
  text-indent: 0;
}

.nav_col ul.navigation li:before {
  content: "\0020";
}

.nav_col ul.social_icons, .nav_col ul.social_icons li {
  display: inline;
  margin: 0;
  padding: 0;
}

.nav_col ul.social_icons li a {
  background-image: url("../images/social_icons.png");
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 900px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  height: 30px;
  width: 30px;
}

.nav_col ul.social_icons li.pinterest a {
  background-position: 0 0;
}
.nav_col ul.social_icons li.twitter a {
  background-position: -30px 0;
}
.nav_col ul.social_icons li.flickr a {
  background-position: -60px 0;
}

.nav_col ul.social_icons li.pinterest a:hover {
  background-position: 0 -30px;
}
.nav_col ul.social_icons li.twitter a:hover {
  background-position: -30px -30px;
}
.nav_col ul.social_icons li.flickr a:hover {
  background-position: -60px -30px;
}

/*
_______________________________
BLOG ENTRY */
.blog_entry {
  background-image: url("../images/horizontal_rule.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 40px;
}


.blog_entry:first-child {
  margin-top: 0;
  padding-top: 0;
}

.blog_entry .title {
  font-family: 'CaviarDreamsBold', Helvetica, sans-serif;
  font-size: 2.0em;
  line-height: 1.3em;
  text-transform: uppercase;
}

.blog_entry .date {
  background-image: url("../images/date_background.png");
  background-repeat: no-repeat;
  color: #777f70;
  font-family: 'CaviarDreamsBold', Helvetica, sans-serif;
  font-size: .8em;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  height: 60px;
  width: 40px;
}

.month {
  font-size: 1.4em;
  line-height: .7em;
}

.day {
  font-family: 'CaviarDreamsRegular', Helvetica, sans-serif;
  font-size: 2em;
  line-height: 1.1em;
}

.year {
  font-size: 1em;
  line-height: .5em;
}

.blog_entry .tags {
  font-family: 'MisoRegular', Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.8em;
  padding-top: 20px;
  text-transform: uppercase;
}

/*
_______________________________
PAGINATOR */
.paginator {
  background-image: url("../images/horizontal_rule.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  padding-bottom: 20px;
  padding-left: 10px;
}

.paginator ul, .paginator li {
  display: inline;
  font-family: 'MisoRegular', Helvetica, sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;

}

.paginator li.active {
  text-decoration: underline;
}

/*
_______________________________
FOOTER */
.footer {

  height: 200px;
  margin-top: 40px;
}

.footer .row {
  padding: 20px;
}



/* Generated by Font Squirrel (http://www.fontsquirrel.com) on December 26, 2011 04:30:08 PM America/New_York
*
*
   FONTS */



@font-face {
    font-family: 'QuicksandLight';
    src: url('fonts/Quicksand_Light-webfont.eot');
    src: url('fonts/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Light-webfont.woff') format('woff'),
         url('fonts/Quicksand_Light-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandLightOblique';
    src: url('fonts/Quicksand_Light_Oblique-webfont.eot');
    src: url('fonts/Quicksand_Light_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Light_Oblique-webfont.woff') format('woff'),
         url('fonts/Quicksand_Light_Oblique-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Light_Oblique-webfont.svg#QuicksandLightOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBook';
    src: url('fonts/Quicksand_Book-webfont.eot');
    src: url('fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Book-webfont.woff') format('woff'),
         url('fonts/Quicksand_Book-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBookOblique';
    src: url('fonts/Quicksand_Book_Oblique-webfont.eot');
    src: url('fonts/Quicksand_Book_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Book_Oblique-webfont.woff') format('woff'),
         url('fonts/Quicksand_Book_Oblique-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Book_Oblique-webfont.svg#QuicksandBookOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBold';
    src: url('fonts/Quicksand_Bold-webfont.eot');
    src: url('fonts/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Bold-webfont.woff') format('woff'),
         url('fonts/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBoldOblique';
    src: url('fonts/Quicksand_Bold_Oblique-webfont.eot');
    src: url('fonts/Quicksand_Bold_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Bold_Oblique-webfont.woff') format('woff'),
         url('fonts/Quicksand_Bold_Oblique-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Bold_Oblique-webfont.svg#QuicksandBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandDash';
    src: url('fonts/Quicksand_Dash-webfont.eot');
    src: url('fonts/Quicksand_Dash-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Dash-webfont.woff') format('woff'),
         url('fonts/Quicksand_Dash-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Dash-webfont.svg#QuicksandDash') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* MISO */

@font-face {
    font-family: 'MisoLight';
    src: url('fonts/miso-light-webfont.eot');
    src: url('fonts/miso-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/miso-light-webfont.woff') format('woff'),
         url('fonts/miso-light-webfont.ttf') format('truetype'),
         url('fonts/miso-light-webfont.svg#MisoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MisoRegular';
    src: url('fonts/miso-webfont.eot');
    src: url('fonts/miso-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/miso-webfont.woff') format('woff'),
         url('fonts/miso-webfont.ttf') format('truetype'),
         url('fonts/miso-webfont.svg#MisoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MisoBold';
    src: url('fonts/miso-bold-webfont.eot');
    src: url('fonts/miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/miso-bold-webfont.woff') format('woff'),
         url('fonts/miso-bold-webfont.ttf') format('truetype'),
         url('fonts/miso-bold-webfont.svg#MisoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}











@font-face {
    font-family: 'CaviarDreamsItalic';
    src: url('fonts/CaviarDreamsItalic-webfont.eot');
    src: url('fonts/CaviarDreamsItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CaviarDreamsItalic-webfont.woff') format('woff'),
         url('fonts/CaviarDreamsItalic-webfont.ttf') format('truetype'),
         url('fonts/CaviarDreamsItalic-webfont.svg#CaviarDreamsItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaviarDreamsBoldItalic';
    src: url('fonts/CaviarDreams_BoldItalic-webfont.eot');
    src: url('fonts/CaviarDreams_BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CaviarDreams_BoldItalic-webfont.woff') format('woff'),
         url('fonts/CaviarDreams_BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/CaviarDreams_BoldItalic-webfont.svg#CaviarDreamsBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaviarDreamsRegular';
    src: url('fonts/CaviarDreams-webfont.eot');
    src: url('fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CaviarDreams-webfont.woff') format('woff'),
         url('fonts/CaviarDreams-webfont.ttf') format('truetype'),
         url('fonts/CaviarDreams-webfont.svg#CaviarDreamsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaviarDreamsBold';
    src: url('fonts/CaviarDreams_Bold-webfont.eot');
    src: url('fonts/CaviarDreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CaviarDreams_Bold-webfont.woff') format('woff'),
         url('fonts/CaviarDreams_Bold-webfont.ttf') format('truetype'),
         url('fonts/CaviarDreams_Bold-webfont.svg#CaviarDreamsBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

